<template>
<div class="container">
    <div class="header-left">
        <div class="box-icon-header">
            <div class="icon-header">
                Hello
            </div>
            <div class="icon-header">
                Hello
            </div>
            <div class="icon-header">
                Hello
            </div>
            <div class="icon-header">
                Hello
            </div>
            <div class="icon-header">
                Hello
            </div>
            <div class="icon-header">
                Hello
            </div>
            <div class="icon-header">
                Hello
            </div>
        </div>
        <div class="logo-icon">
            Here is logo
        </div>
    </div>
</div>
</template>


<script>
import HamburgerIcon from './HamburgerIcon.vue'

export default {
  components: {
    HamburgerIcon
  }
}
</script>

<style scoped>
    .header-left {
        color: white;
        height: 640px;
        width: 54px;
        background-color: #000000;
        z-index: 20;
    }
    .box-icon-header {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start; 
        height: auto;
        width: 100%;
    }
    .icon-header {
        width: 90%;
        margin: auto;
        height: 50px;
        border-bottom: 1px solid white;
        text-align: center;
    }
</style>